<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold">
     MIAM MIAM RESTAURANT<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="menu" class="nav-link px-2 link-secondary">Menu</a></li>
    </ul>

    <ul *ngIf="this.userService.isLoggedIn()" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="orders" class="nav-link px-2 link-secondary">Orders</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button *ngIf="!this.userService.isLoggedIn()" type="button" class="btn btn-outline-primary me-2" (click)="login()">Login As Admin</button>
      <span *ngIf="this.userService.isLoggedIn()" class="me-2">{{this.userService.user()}}</span>
      <button *ngIf="this.userService.isLoggedIn()" type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button>
     
    </div>
  </header>






</div>


<router-outlet />
